{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/view-faculty-application.css' %}">
{% endblock  %}
{% block body %}
{% include 'includes/navbar.html'%}
<br><br><br>

     <div class="container">
       <div class="card-main">
         <h5>To , <b>HOD {{request.user.dept}}</b></h5>
         <h5>From , <b>HOD {{request.user.full_name}}</b></h5>
         <br>
         <h5>Title , <b>{{appln.title}}</b></h5>
         <br>
         <h5>{{appln.content}}</h5>
<br><br><br>
         <a href=""class='btn btn-success'>Approove</a>
         <a href=""class='btn btn-danger'>Reject</a>
       </div>
     </div>
{% endblock  %}
{% block foot %}

{% endblock  %}
