{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/list-style.css' %}">
<style media="screen">
  .cotainer{
    max-width:1000px;
    background:white;
    margin:auto;
    top:100px;
  }
</style>
{% endblock  %}
{% block body %}
{% include 'includes/navbar.html'%}

<div class="cotainer">

<div class="task-manager">
      <div class="page-content">
        <div class="row">
          <div class="col-md-6">
            <div class="header upcoming">Approoved & Pending Applications</div>


            <div class="tasks-wrapper" style="overflow-y: scroll; height: 600px">
              {% for d in appln_rej %}
              <div class="task">
                <span class="label-text">Application Id : {{d.application_id}}</span>
                <span class="tag approved">Status: {{d.status}}</span>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-6">
            <div class="header upcoming">Rejected Applications</div>

            <div class="tasks-wrapper" style="overflow-y: scroll; height:600px">

              {% for d in appln_acc %}
              <div class="task">
                <span class="label-text">Application Id : {{d.application_id}}</span>
                <span class="tag review">Status: {{d.status}}</span>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock  %}
{% block foot %}

{% endblock  %}
